<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Admin">

	<select id="artistInsertAll" resultType="ArtistInsert">
		SELECT *
		FROM ARTIST_INSERT
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artistInsertNotYet" resultType="ArtistInsert">
		SELECT * 
		FROM ARTIST_INSERT
		WHERE RESULT = 0
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artistInsertOk" resultType="ArtistInsert">
		SELECT * 
		FROM ARTIST_INSERT
		WHERE RESULT = 1
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artistInsertNope" resultType="ArtistInsert">
		SELECT * 
		FROM ARTIST_INSERT
		WHERE RESULT = 2
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artistInsertInfoDetail" resultType="ArtistInsert" parameterType="_int">
		SELECT *
		FROM ARTIST_INSERT
		WHERE INSERT_NUM = #{insertNum}
	</select>
	<update id="resultStatusOk" parameterType="_int">
		UPDATE ARTIST_INSERT
		SET RESULT = 1
		WHERE INSERT_NUM = #{insertNum}
	</update>
	<update id="resultStatusNope" parameterType="_int">
		UPDATE ARTIST_INSERT
		SET RESULT = 2
		WHERE INSERT_NUM = #{insertNum}
	</update>
	<insert id="alarmArtist" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 0)
	</insert>
	<insert id="alarmArtistReject" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 1)
	</insert>
	<insert id="insertArtist" parameterType="Artist">
		INSERT INTO ARTIST 
		VALUES (#{artistNum}, #{artistName}, #{artistIntro}, #{artistCountry},
		        #{artistGender}, #{artistBirth}, #{artistDead}, #{artistImg}, #{artistDetail})
	</insert>
	<select id="getArtistSeqNextVal" resultType="_int">
		SELECT ARTIST_SEQ.NEXTVAL FROM DUAL
	</select>
	<select id="getArtistSeqCurrVal" resultType="_int">
		SELECT ARTIST_SEQ.CURRVAL FROM DUAL
	</select>
	<insert id="insertArtistContributor" parameterType="hashmap">
		INSERT INTO ARTIST_CONTRIBUTOR VALUES(#{artistNum}, #{userId}, 1)
	</insert>
	<select id="getArtistInsertCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ARTIST_INSERT
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtistUpdateCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ARTIST_UPDATE
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtistDeleteCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ARTIST_DELETE
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtInsertCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ART_INFO_INSERT
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtUpdateCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ART_INFO_UPDATE
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtDeleteCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ART_INFO_DELETE
			WHERE RESULT = 0
			)
	</select>
</mapper>
