<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Admin">
	<resultMap type="ArtistDelete" id="artistDeleteRM">
	  <id property="delete_num" column="delete_num"/>
      <result property="artist_num" column="artist_num"/>
      <result property="id" column="id"/>
      <result property="reason" column="reason"/>
      <result property="result" column="result"/>
      <association property="artist" column="artist_num" javaType="Artist">
      		   <result property="artistName" column="artist_name"/>
			   <result property="artistIntro" column="artist_intro"/>
			   <result property="artistCountry" column="artist_country"/>
			   <result property="artistGender" column="artist_gender"/>
			   <result property="artistBirth" column="artist_birth"/>
			   <result property="artistDead" column="artist_dead"/>
			   <result property="artistImg" column="artist_img"/>
			   <result property="artistDetail" column="artist_detail"/>
      </association>
	</resultMap>

	<select id="getArtistInsertCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ARTIST_INSERT
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtistUpdateCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ARTIST_UPDATE
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtistDeleteCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ARTIST_DELETE
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtInsertCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ART_INFO_INSERT
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtUpdateCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ART_INFO_UPDATE
			WHERE RESULT = 0
			)
	</select>
	<select id="getArtDeleteCount" resultType="_int">
		SELECT count(*) FROM(
			SELECT * 
			FROM ART_INFO_DELETE
			WHERE RESULT = 0
			)
	</select>

	<!-- Artist Insert -->
	<select id="artistInsertAll" resultType="ArtistInsert">
		SELECT *
		FROM ARTIST_INSERT
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artistInsertNotYet" resultType="ArtistInsert">
		SELECT * 
		FROM ARTIST_INSERT
		WHERE RESULT = 0
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artistInsertOk" resultType="ArtistInsert">
		SELECT * 
		FROM ARTIST_INSERT
		WHERE RESULT = 1
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artistInsertNope" resultType="ArtistInsert">
		SELECT * 
		FROM ARTIST_INSERT
		WHERE RESULT = 2
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artistInsertInfoDetail" resultType="ArtistInsert" parameterType="_int">
		SELECT *
		FROM ARTIST_INSERT
		WHERE INSERT_NUM = #{insertNum}
	</select>
	<update id="resultStatusOk" parameterType="_int">
		UPDATE ARTIST_INSERT
		SET RESULT = 1
		WHERE INSERT_NUM = #{insertNum}
	</update>
	<update id="resultStatusNope" parameterType="_int">
		UPDATE ARTIST_INSERT
		SET RESULT = 2
		WHERE INSERT_NUM = #{insertNum}
	</update>
	<insert id="alarmArtist" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 0)
	</insert>
	<insert id="alarmArtistReject" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 1)
	</insert>
	<insert id="insertArtist" parameterType="Artist">
		INSERT INTO ARTIST 
		VALUES (#{artistNum}, #{artistName}, #{artistIntro}, #{artistCountry},
		        #{artistGender}, #{artistBirth}, #{artistDead}, #{artistImg}, #{artistDetail})
	</insert>
	<select id="getArtistSeqNextVal" resultType="_int">
		SELECT ARTIST_SEQ.NEXTVAL FROM DUAL
	</select>
	<select id="getArtistSeqCurrVal" resultType="_int">
		SELECT ARTIST_SEQ.CURRVAL FROM DUAL
	</select>
	<insert id="insertArtistContributor" parameterType="hashmap">
		INSERT INTO ARTIST_CONTRIBUTOR VALUES(#{artistNum}, #{userId}, 1)
	</insert>
	
	<!-- Artist Update -->
	<select id="artistUpdateAll" resultType="ArtistUpdate">
		SELECT *
		FROM ARTIST_UPDATE
		ORDER BY UPDATE_NUM DESC
	</select>
	<select id="artistUpdateNotYet" resultType="ArtistUpdate">
		SELECT * 
		FROM ARTIST_UPDATE
		WHERE RESULT = 0
		ORDER BY UPDATE_NUM DESC
	</select>
	<select id="artistUpdateOk" resultType="ArtistUpdate">
		SELECT * 
		FROM ARTIST_UPDATE
		WHERE RESULT = 1
		ORDER BY UPDATE_NUM DESC
	</select>
	<select id="artistUpdateNope" resultType="ArtistUpdate">
		SELECT * 
		FROM ARTIST_UPDATE
		WHERE RESULT = 2
		ORDER BY UPDATE_NUM DESC
	</select>
	<select id="artistUpdateInfoDetail" resultType="ArtistUpdate" parameterType="_int">
		SELECT *
		FROM ARTIST_UPDATE
		WHERE UPDATE_NUM = #{updateNum}
	</select>
	<update id="resultStatusOkUpdate" parameterType="_int">
		UPDATE ARTIST_UPDATE
		SET RESULT = 1
		WHERE UPDATE_NUM = #{updateNum}
	</update>
	<update id="resultStatusNopeUpdate" parameterType="_int">
		UPDATE ARTIST_UPDATE
		SET RESULT = 2
		WHERE UPDATE_NUM = #{updateNum}
	</update>
	<insert id="alarmArtistUpdate" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 3)
	</insert>
	<insert id="alarmArtistRejectUpdate" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 4)
	</insert>
	<update id="updateArtist" parameterType="Artist">
		UPDATE ARTIST
		SET ARTIST_NAME=#{artistName},
		ARTIST_INTRO=#{artistIntro},
		ARTIST_COUNTRY=#{artistCountry},
		ARTIST_BIRTH=#{artistBirth},
		ARTIST_DEAD=#{artistDead},
		ARTIST_IMG=#{artistImg},
		ARTIST_DETAIL=#{artistDetail}
		WHERE ARTIST_NUM=#{artistNum}		
	</update>
	
	<!-- Artist Delete -->
	<select id="artistDeleteAll" resultMap="artistDeleteRM">
		SELECT * FROM (
		SELECT *
		FROM 
		((SELECT * FROM ARTIST_DELETE WHERE RESULT!=1))
		D JOIN ARTIST A
		USING(ARTIST_NUM)
		UNION ALL
		SELECT *
		FROM 
		(SELECT * FROM ARTIST_DELETE WHERE RESULT=1)
		D JOIN ARTIST_DELETE_INFO D
		USING(ARTIST_NUM)
		)
		ORDER BY DELETE_NUM DESC
	</select>
	<select id="artistDeleteNotYet" resultMap="artistDeleteRM">
		SELECT *
		FROM ARTIST_DELETE D JOIN ARTIST A
		USING(ARTIST_NUM)
		WHERE RESULT = 0
		ORDER BY DELETE_NUM DESC
	</select>
	<select id="artistDeleteOk" resultMap="artistDeleteRM">
		SELECT *
		FROM ARTIST_DELETE D JOIN ARTIST_DELETE_INFO A
		USING(ARTIST_NUM)
		ORDER BY DELETE_NUM DESC
	</select>
	<select id="artistDeleteNope" resultMap="artistDeleteRM">
		SELECT *
		FROM ARTIST_DELETE D JOIN ARTIST A
		USING(ARTIST_NUM)
		WHERE RESULT = 2
		ORDER BY DELETE_NUM DESC
	</select>
	<select id="artistDeleteInfoDetail" resultMap="artistDeleteRM" parameterType="_int">
		SELECT *
		FROM ARTIST_DELETE D JOIN ARTIST A
		USING(ARTIST_NUM)
		WHERE DELETE_NUM = #{deleteNum}
	</select>
	<select id="artistAlreadyDeleteInfoDetail" resultMap="artistDeleteRM" parameterType="_int">
		SELECT *
		FROM ARTIST_DELETE D JOIN ARTIST_DELETE_INFO A
		USING(ARTIST_NUM)
		WHERE DELETE_NUM = #{deleteNum}
	</select>
	<update id="resultStatusOkDelete" parameterType="_int">
		UPDATE ARTIST_DELETE
		SET RESULT = 1
		WHERE ARTIST_NUM = #{artistNum}
	</update>
	<update id="resultStatusNopeDelete" parameterType="_int">
		UPDATE ARTIST_DELETE
		SET RESULT = 2
		WHERE DELETE_NUM = #{deleteNum}
	</update>
	<insert id="alarmArtistDelete" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (null, null, #{userId}, 0, #{userFromId}, sysdate, 5)
	</insert>
	<insert id="alarmArtistRejectDelete" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (null, null, #{userId}, 0, #{userFromId}, sysdate, 6)
	</insert>
	<delete id="deleteArtist" parameterType="_int">
		DELETE ARTIST
		WHERE ARTIST_NUM=#{artistNum}
	</delete>
	<insert id="insertArtistDeleteInfo" parameterType="ArtistDeleteInfo">
		INSERT INTO ARTIST_DELETE_INFO
		VALUES (#{artistNum}, #{artistName}, #{artistIntro}, #{artistCountry},
		        #{artistGender}, #{artistBirth}, #{artistDead}, #{artistImg}, #{artistDetail})
	</insert>	
	<select id="artistDeleteAlarmIdList" resultType="string" parameterType="_int">
		SELECT id FROM ARTIST_DELETE
		WHERE ARTIST_NUM=#{artistNum}
	</select>
	
	<!-- Art Insert -->
	<select id="artInsertAll" resultType="ArtInfoInsert">
		SELECT *
		FROM ART_INFO_INSERT
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artInsertNotYet" resultType="ArtInfoInsert">
		SELECT * 
		FROM ART_INFO_INSERT
		WHERE RESULT = 0
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artInsertOk" resultType="ArtInfoInsert">
		SELECT * 
		FROM ART_INFO_INSERT
		WHERE RESULT = 1
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artInsertNope" resultType="ArtInfoInsert">
		SELECT * 
		FROM ART_INFO_INSERT
		WHERE RESULT = 2
		ORDER BY INSERT_NUM DESC
	</select>
	<select id="artInsertInfoDetail" resultType="ArtInfoInsert" parameterType="_int">
		SELECT *
		FROM ART_INFO_INSERT
		WHERE INSERT_NUM = #{insertNum}
	</select>
	<update id="resultStatusOkArtInsert" parameterType="_int">
		UPDATE ART_INFO_INSERT
		SET RESULT = 1
		WHERE INSERT_NUM = #{insertNum}
	</update>
	<update id="resultStatusNopeArtInsert" parameterType="_int">
		UPDATE ART_INFO_INSERT
		SET RESULT = 2
		WHERE INSERT_NUM = #{insertNum}
	</update>
	<insert id="alarmArtInsert" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 7)
	</insert>
	<insert id="alarmArtRejectInsert" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 8)
	</insert>
	<insert id="insertArt" parameterType="Artist">
		INSERT INTO ART_INFO 
		VALUES (#{artinfoNum}, #{artistNum}, #{artinfoName}, #{artinfoYear},
		        #{artinfoTrend}, #{artinfoKind}, #{artinfoTechnic}, #{artinfoSize}, #{artinfoCollection}, 
		        #{artinfoDetail}, #{artinfoDate}, #{artinfoImg}, #{artinfoHashTag}, #{artinfoCollectionAddress}, #{artinfoCollectionAddressLat}, #{artinfoCollectionAddressLon})
	</insert>
	<select id="getArtSeqNextVal" resultType="_int">
		SELECT ART_INFO_SEQ.NEXTVAL FROM DUAL
	</select>
	<insert id="insertArtContributor" parameterType="hashmap">
		INSERT INTO ARTIST_CONTRIBUTOR VALUES(#{artistNum}, #{userId}, 1)
	</insert>
	
	<!-- Art Update -->
	<select id="artUpdateAll" resultType="ArtInfoUpdate">
		SELECT *
		FROM ART_INFO_UPDATE
		ORDER BY UPDATE_NUM DESC
	</select>
	<select id="artUpdateNotYet" resultType="ArtInfoUpdate">
		SELECT * 
		FROM ART_INFO_UPDATE
		WHERE RESULT = 0
		ORDER BY UPDATE_NUM DESC
	</select>
	<select id="artUpdateOk" resultType="ArtInfoUpdate">
		SELECT * 
		FROM ART_INFO_UPDATE
		WHERE RESULT = 1
		ORDER BY UPDATE_NUM DESC
	</select>
	<select id="artUpdateNope" resultType="ArtInfoUpdate">
		SELECT * 
		FROM ART_INFO_UPDATE
		WHERE RESULT = 2
		ORDER BY UPDATE_NUM DESC
	</select>
	<select id="artUpdateInfoDetail" resultType="ArtInfoUpdate" parameterType="_int">
		SELECT *
		FROM ART_INFO_UPDATE
		WHERE UPDATE_NUM = #{updateNum}
	</select>
	<update id="resultStatusOkArtUpdate" parameterType="_int">
		UPDATE ART_INFO_UPDATE
		SET RESULT = 1
		WHERE UPDATE_NUM = #{updateNum}
	</update>
	<update id="resultStatusNopeArtUpdate" parameterType="_int">
		UPDATE ART_INFO_UPDATE
		SET RESULT = 2
		WHERE UPDATE_NUM = #{updateNum}
	</update>
	<insert id="alarmArtUpdate" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 9)
	</insert>
	<insert id="alarmArtRejectUpdate" parameterType="hashmap">
		INSERT INTO ALARMS VALUES (#{artistNum}, null, #{userId}, 0, #{userFromId}, sysdate, 10)
	</insert>
	<update id="updateArtist" parameterType="Artist">
		UPDATE ART_INFO
		SET artist_num=#{artistNum},
		artinfo_name=#{artinfoName},
		artinfo_year=#{artinfoYear},
		artinfo_trend=#{artinfoTrend},
		artinfo_kind=#{artinfoKind},
		artinfo_technic=#{artinfoTechnic},
		artinfo_size=#{artinfoSize},
		artinfo_collection=#{artinfoCollection},
		artinfo_detail=#{artinfoDetail},
		artinfo_date=#{artinfoDate},
		artinfo_img=#{artinfoImg},
		artinfo_hash_tag=#{artinfoHashTag},
		artinfo_collection_address=#{artinfoCollectionAddress},
		artinfo_collection_address_lat=#{artinfoCollectionAddressLat},
		artinfo_collection_address_lon=#{artinfoCollectionAddressLon},
		WHERE ARTINFO_NUM=#{artinfoNum}
	</update>	
</mapper>
