<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Artist">

<resultMap type="Artist" id="artistRM">
   <id property="artistNum" column="artist_num"/>
   <result property="artistName" column="artist_name"/>
   <result property="artistIntro" column="artist_intro"/>
   <result property="artistCountry" column="artist_country"/>
   <result property="artistGender" column="artist_gender"/>
   <result property="artistBirth" column="artist_birth"/>
   <result property="artistDead" column="artist_dead"/>
   <result property="artistImage" column="artist_image"/>
   <result property="artistDetail" column="artist_detail"/>
</resultMap>

<resultMap type="Artist" id="artistFollowerRMC">
   <id property="artistNum" column="artist_num"/>
   <result property="artistName" column="artist_name"/>
    <collection property="artistFollower" column="artistNum" ofType="ArtistFollower">
    	<result property="artistfollowerSum" column="FOLLOWER"/>
    </collection>
</resultMap>

   <select id="artistlist" resultMap="artistRM">
       <![CDATA[
       select * from(select * from  artist order by artist_num) where rownum<=2
      ]]> 
   </select>
   
    <select id="artistFollower" resultMap="artistFollowerRMC" parameterType="map">
	   	SELECT A.ARTIST_NUM, A.ARTIST_NAME, SUM(A.ARTIST_NUM) FOLLOWER
		FROM ARTIST A JOIN ARTIST_FOLLOWER F
		ON A.ARTIST_NUM=F.ARTIST_NUM
		WHERE A.ARTIST_NUM=#{artistNum}
		GROUP BY A.ARTIST_NUM, A.ARTIST_NAME
   </select>
</mapper>