<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Artist">

<resultMap type="Artist" id="artistRM">
   <id property="artistNum" column="artist_num"/>
   <result property="artistName" column="artist_name"/>
   <result property="artistIntro" column="artist_intro"/>
   <result property="artistCountry" column="artist_country"/>
   <result property="artistGender" column="artist_gender"/>
   <result property="artistBirth" column="artist_birth"/>
   <result property="artistDead" column="artist_dead"/>
   <result property="artistImg" column="artist_img"/>
   <result property="artistDetail" column="artist_detail"/>
</resultMap>

<resultMap type="Artist" id="artistList">
   <id property="artistNum" column="artist_num"/>
   <result property="artistName" column="artist_name"/>
   <result property="artistImg" column="artist_img"/>
    <result property="follower" column="FOLLOWER"/>
   <collection property="artInfo" column="artist_num" ofType="ArtInfo">
   		<result property="artinfoNum" column="artinfo_num"/>
   		<result property="artinfoImg" column="artinfo_img"/>
   </collection>
</resultMap>

<resultMap type="Artist" id="myGalleryArtistList">
   <id property="artistNum" column="artist_num"/>
   <result property="artistName" column="artist_name"/>
   <result property="artistImg" column="artist_img"/>
    <result property="follower" column="FOLLOWER"/>
   <collection property="artInfo" column="artist_num" ofType="ArtInfo">
   		<result property="artinfoImg" column="artinfo_img"/>
   </collection>
</resultMap>
	
	<select id="artistListCount" resultType="int">
		SELECT  count(*)
		FROM ARTIST
	</select>
	
    <select id="artistlist" resultMap="artistList" parameterType="hashmap">
    <![CDATA[
    	select rnum, ARTIST_NUM,  ARTIST_NAME, ARTIST_IMG , FOLLOWER, I.ARTINFO_NUM, I.ARTINFO_IMG  from 
		(
		select rnum, ARTIST_NUM,  ARTIST_NAME, ARTIST_IMG , FOLLOWER from ( select rownum rnum, G.* from
		(
		    SELECT A.ARTIST_NUM,  A.ARTIST_NAME, A.ARTIST_IMG , nvl(F.FOLLOWER, 0) FOLLOWER
		    FROM ARTIST A LEFT OUTER JOIN (select ARTIST_NUM, COUNT(ARTIST_NUM) FOLLOWER from ARTIST_FOLLOWER group by ARTIST_NUM) F ON A.ARTIST_NUM=F.ARTIST_NUM
		    ORDER BY FOLLOWER DESC, ARTIST_NUM ASC
		) G ) H where rnum>=#{startRnum} and rnum<=#{endRnum}
		) J LEFT OUTER JOIN ART_INFO I using (ARTIST_NUM)
		order by artist_num
	]]>
	</select>
	
   <select id="myArtGalleryArtistCount" resultType="int" parameterType="string">
   		SELECT COUNT(FOLLOWER_NUM)
		FROM ARTIST_FOLLOWER
		WHERE ID=#{userId}
   </select>
   
    <select id="myArtGalleryArtCount" resultType="int" parameterType="string">
		SELECT COUNT(ART_SCRAP_NUM)
		FROM ART_SCRAP
		WHERE ID=#{userId}
   </select>
   
   <select id="myArtGalleryProfileImg" resultType="string" parameterType="string">
		SELECT MEMBER_IMG
		FROM MEMBER
		WHERE ID=#{userId}
   </select>
   
   <select id="myGalleryArtistList" resultMap="myGalleryArtistList" parameterType="hashmap">
   <![CDATA[
		select rnum, ARTIST_NUM,  ARTIST_NAME, ARTIST_IMG , FOLLOWER, I.ARTINFO_NUM, I.ARTINFO_IMG  from 
		(
		select rnum, ARTIST_NUM,  ARTIST_NAME, ARTIST_IMG , FOLLOWER from ( select rownum rnum, G.* from
		(
		    SELECT A.ARTIST_NUM,  A.ARTIST_NAME, A.ARTIST_IMG , nvl(F.FOLLOWER, 0) FOLLOWER
		    FROM ARTIST A LEFT OUTER JOIN (select ARTIST_NUM, COUNT(ARTIST_NUM) FOLLOWER from ARTIST_FOLLOWER group by ARTIST_NUM) F ON A.ARTIST_NUM=F.ARTIST_NUM
		    WHERE A.ARTIST_NUM IN(SELECT A.ARTIST_NUM
		FROM ARTIST A
		LEFT OUTER JOIN ARTIST_FOLLOWER M
		ON A.ARTIST_NUM = M.ARTIST_NUM
		WHERE M.ID = #{userId})
		    ORDER BY FOLLOWER DESC, ARTIST_NUM ASC
		) G ) H where rnum>=#{startRnum} and rnum<=#{endRnum}
		) J LEFT OUTER JOIN ART_INFO I using (ARTIST_NUM)
		order by artist_num
	]]>
	</select>
	
	<select id="artistProfileArtist" resultMap="artistRM" parameterType="_int">
		SELECT *
		FROM ARTIST
		WHERE ARTIST_NUM=#{artistNum}	
	</select>
	
	<select id="artistProfileArtCount" resultType="_int" parameterType="_int">
		SELECT COUNT (ARTINFO_NUM)
		FROM ART_INFO
		WHERE ARTIST_NUM=#{artistNum}	
	</select>
	
	<select id="artistProfileFollowerCount" resultType="_int" parameterType="_int">
		SELECT COUNT (FOLLOWER_NUM)
		FROM ARTIST_FOLLOWER
		WHERE ARTIST_NUM=#{artistNum}	
	</select>	
	
	<select id="artistProfileContributorCount" resultType="_int" parameterType="_int">
		SELECT COUNT(DISTINCT id)
		FROM ARTIST_CONTRIBUTOR
		WHERE ARTIST_NUM=#{artistNum}	
	</select>	
	<select id="followCheck" parameterType="hashmap" resultType="_int">
		SELECT count(*)
		FROM ARTIST_FOLLOWER
		WHERE ARTIST_NUM=#{artistNum} AND ID=#{userId}
	</select>	
	<insert id="follow" parameterType="hashmap">
		INSERT INTO ARTIST_FOLLOWER 
		VALUES(ARTIST_FOLLOWER_SEQ.NEXTVAL, sysdate, #{artistNum}, #{userId})
	</insert>
	<delete id="unfollow" parameterType="hashmap">
		DELETE FROM ARTIST_FOLLOWER 
		WHERE ARTIST_NUM=#{artistNum} AND ID=#{userId}
	</delete>
</mapper>