<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ArtInfo">

   <resultMap type="ArtInfo" id="artInfoRM">
      <id property="artinfoNum" column="artinfo_num"/>
      <result property="artistNum" column="artist_num"/>
      <result property="artinfoName" column="artinfo_name"/>
      <result property="artinfoYear" column="artinfo_year"/>
      <result property="artinfoTrend" column="artinfo_trend"/>
      <result property="artinfoKind" column="artinfo_kind"/>
      <result property="artinfoTechnic" column="artinfo_technic"/>
      <result property="artinfoSize" column="artinfo_size"/>
      <result property="artinfoCollection" column="artinfo_collection"/>
      <result property="artinfoDetail" column="artinfo_detail"/>
      <result property="artinfoDate" column="artinfo_date"/>
      <result property="artinfoImg" column="artinfo_img"/>
   </resultMap>

	<resultMap type="ArtInfo" id="myGalleryArtList">
	   <result property="artinfoImg" column="artinfo_img"/>
	   <result property="artinfoNum" column="artinfo_num"/>
	    <result property="artLikeCount" column="art_like_count"/>
	    <result property="artCommentCount" column="ART_COMMENT_COUNT"/>
	    <result property="artLikeUserId" column="id"/>
	</resultMap>
	
   <select id="myGalleryArtList" resultMap="myGalleryArtList" parameterType="string">
			SELECT A.ARTINFO_IMG, COUNT_TABLE.*
			FROM ART_INFO A
			JOIN 
			(SELECT A.ARTINFO_NUM, A.ART_LIKE_COUNT, B.ART_COMMENT_COUNT, A.ID
			FROM
			(SELECT S.ARTINFO_NUM, S.ID, COUNT(ART_LIKE_NUM) ART_LIKE_COUNT
			FROM ART_SCRAP S LEFT OUTER JOIN ART_LIKE L 
			ON  S.ARTINFO_NUM = L.ARTINFO_NUM
			WHERE S.ID = #{userId}
			GROUP BY S.ARTINFO_NUM, S.ID) A
			JOIN
			(SELECT  S.ARTINFO_NUM, S.ID, COUNT(ART_COMMENT_NUM) ART_COMMENT_COUNT
			FROM ART_SCRAP S LEFT OUTER JOIN ART_COMMENT C
			ON  S.ARTINFO_NUM = C.ART_NUM
			WHERE S.ID = #{userId}
			GROUP BY S.ARTINFO_NUM, S.ID) B
			ON A.ARTINFO_NUM = B.ARTINFO_NUM) COUNT_TABLE
			ON A.ARTINFO_NUM = COUNT_TABLE.ARTINFO_NUM
			ORDER BY COUNT_TABLE.ARTINFO_NUM
	</select>	
	
	<select id="artistProfileArtInfoList" resultMap="artInfoRM" parameterType="_int">
		SELECT *
		FROM ART_INFO
		WHERE ARTIST_NUM=#{artistNum}	
	</select>
	
</mapper>