<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Artist">

<resultMap type="Artist" id="artistRM">
   <id property="artistNum" column="artist_num"/>
   <result property="artistName" column="artist_name"/>
   <result property="artistIntro" column="artist_intro"/>
   <result property="artistCountry" column="artist_country"/>
   <result property="artistGender" column="artist_gender"/>
   <result property="artistBirth" column="artist_birth"/>
   <result property="artistDead" column="artist_dead"/>
   <result property="artistImg" column="artist_img"/>
   <result property="artistDetail" column="artist_detail"/>
</resultMap>

<resultMap type="Artist" id="artistList">
   <id property="artistNum" column="artist_num"/>
   <result property="artistName" column="artist_name"/>
   <result property="artistImg" column="artist_img"/>
    <result property="follower" column="FOLLOWER"/>
   <collection property="artInfo" column="artist_num" ofType="ArtInfo">
   		<result property="artinfoNum" column="artinfo_num"/>
   		<result property="artinfoImg" column="artinfo_img"/>
   </collection>
</resultMap>

<resultMap type="Artist" id="myGalleryArtistList">
   <id property="artistNum" column="artist_num"/>
   <result property="artistName" column="artist_name"/>
   <result property="artistImg" column="artist_img"/>
    <result property="follower" column="FOLLOWER"/>
   <collection property="artInfo" column="artist_num" ofType="ArtInfo">
   		<result property="artinfoImg" column="artinfo_img"/>
   </collection>
</resultMap>

    <select id="artistlist" resultMap="artistList">
		SELECT A.ARTIST_NUM,  A.ARTIST_NAME,A.ARTIST_IMG,  I.ARTINFO_NUM, I.ARTINFO_IMG, COUNT(F.ARTIST_NUM) FOLLOWER
		FROM ARTIST A LEFT OUTER JOIN ART_INFO I
		ON A.ARTIST_NUM=I.ARTIST_NUM
		LEFT OUTER JOIN ARTIST_FOLLOWER F
		ON A.ARTIST_NUM=F.ARTIST_NUM
		GROUP BY  A.ARTIST_NUM,  A.ARTIST_NAME, A.ARTIST_IMG,  I.ARTINFO_NUM, I.ARTINFO_IMG
		ORDER BY FOLLOWER DESC
	</select>
   
   <select id="myArtGalleryArtistCount" resultType="int" parameterType="string">
   		SELECT COUNT(FOLLOWER_NUM)
		FROM ARTIST_FOLLOWER
		WHERE ID=#{userId}
   </select>
   
    <select id="myArtGalleryArtCount" resultType="int" parameterType="string">
		SELECT COUNT(ART_LIKE_NUM)
		FROM ART_LIKE
		WHERE ID=#{userId}
   </select>
   
   <select id="myArtGalleryProfileImg" resultType="string" parameterType="string">
		SELECT MEMBER_IMG
		FROM MEMBER
		WHERE ID=#{userId}
   </select>
   
   <select id="myGalleryArtistList" resultMap="myGalleryArtistList" parameterType="string">
		SELECT A.ARTIST_NUM, A.ARTIST_NAME, A.ARTIST_IMG, I.ARTINFO_IMG, COUNT(M.ARTIST_NUM) FOLLOWER
		FROM ARTIST A 
		LEFT OUTER JOIN ARTIST_FOLLOWER M
		ON A.ARTIST_NUM = M.ARTIST_NUM
		LEFT OUTER JOIN ART_INFO I
		ON M.ARTIST_NUM = I.ARTIST_NUM
		WHERE A.ARTIST_NUM IN(SELECT A.ARTIST_NUM
		FROM ARTIST A
		LEFT OUTER JOIN ARTIST_FOLLOWER M
		ON A.ARTIST_NUM = M.ARTIST_NUM
		WHERE M.ID = #{userId})
		GROUP BY A.ARTIST_NUM, A.ARTIST_NAME, A.ARTIST_IMG, I.ARTINFO_IMG
		ORDER BY FOLLOWER DESC 
	</select>
   
</mapper>