<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.mycompany.artistar.follow.vo.Follow" alias="Follow"/>
		<typeAlias type="com.mycompany.artistar.post.model.vo.Post" alias="Post" />
		<typeAlias type="com.mycompany.artistar.post_img.vo.PostImg" alias="PostImg" />
		<typeAlias type="com.mycompany.artistar.post_like.vo.PostLike" alias="PostLike" />
		<typeAlias type="com.mycompany.artistar.postcomment.model.vo.PostComment" alias="PostComment" />
		<typeAlias type="com.mycompany.artistar.artist.model.vo.Artist" alias="Artist"/>
		<typeAlias type="com.mycompany.artistar.story.model.vo.Story" alias="Story"/>
		<typeAlias type="com.mycompany.artistar.artinfo.model.vo.ArtInfo" alias="ArtInfo"/>
		<typeAlias type="com.mycompany.artistar.artist_follower.vo.ArtistFollower" alias="ArtistFollower"/>
		<typeAlias type="com.mycompany.artistar.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.mycompany.artistar.artist_update.vo.ArtistUpdate" alias="ArtistUpdate"/>
		<typeAlias type="com.mycompany.artistar.story_inquire.vo.StoryInquire" alias="StoryInquire"/>
		<typeAlias type="com.mycompany.artistar.artist_delete.vo.ArtistDelete" alias="ArtistDelete"/>
		<typeAlias type="com.mycompany.artistar.artist_insert.vo.ArtistInsert" alias="ArtistInsert"/>
		<typeAlias type="com.mycompany.artistar.artinfo_insert.vo.ArtInfoInsert" alias="ArtInfoInsert"/>
		<typeAlias type="com.mycompany.artistar.artcomment.model.vo.ArtComment" alias="ArtComment"/>
		<typeAlias type="com.mycompany.artistar.artinfo_update.vo.ArtInfoUpdate" alias="ArtInfoUpdate"/>
		<typeAlias type="com.mycompany.artistar.artinfo_delete.vo.ArtInfoDelete" alias="ArtInfoDelete"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/follow-mapper.xml" />
		<mapper resource="mappers/post-mapper.xml" />
		<mapper resource="mappers/artist-mapper.xml" />
		<mapper resource="mappers/story-mapper.xml" />
		<mapper resource="mappers/artinfo-mapper.xml" />
		<mapper resource="mappers/artistfollower-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/artistupdate-mapper.xml" />
		<mapper resource="mappers/storyinquire-mapper.xml" />
		<mapper resource="mappers/artistdelete-mapper.xml" />
		<mapper resource="mappers/artistinsert-mapper.xml" />
		<mapper resource="mappers/artinfoinsert-mapper.xml" />
		<mapper resource="mappers/artinfoupdate-mapper.xml" />
		<mapper resource="mappers/artinfodelete-mapper.xml" />
	</mappers>

</configuration>
