<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.mycompany.artistar.post.model.vo.Post" alias="Post" />
		<typeAlias type="com.mycompany.artistar.artist.model.vo.Artist" alias="Artist"/>
		<typeAlias type="com.mycompany.artistar.member.model.vo.Member" alias="Member"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/post-mapper.xml" />
		<mapper resource="mappers/artist-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
	</mappers>

</configuration>
