
@charset "UTF-8";
/*customizing left-section*/
.left-sidebar {
	width: 49%;
	float: left;
	margin-right: 10px;
}

/*customizing righ-section*/
.right-sidebar {
	width: 49%;
	float: left;
}

.panel-default {
	border-radius: 0;
	margin-top: 60px;
	margin-left: 20px;
}

.panel-default>.panel-heading {
	border-color: #fff;
	background-color: #fff;
	margin: 30px auto 40px;
}


.panel-body {
	padding: 0 40px 20px 40px;
}


.mainImgWrapper-1>img {
	width: 247px;
	height: 436px;
	margin-left: 148px;
	margin-top: 95px;
	position: absolute;
}

.form-group input {
	margin-bottom: 10px;
	border: 1px solid #efefef;
	background-color: #fafafa;
	border-radius: 3px;
}

.btn-primary {
	background-color: #3c93ef;
	border: none;
	height: 30px;
	line-height: 1.3;
	margin-top: 10px;
}

.signup-txt {
	font-size: 17px;
	line-height: 20px;
	color: #999;
	font-weight: 600;
}

.app-download {
	text-align: center;
}

/*remove border of panel when small-size screen*/
@media screen and (max-width: 735px) {
	#content-right .panel {
		border: none;
		box-shadow: none;
	}
}

/*footer links*/
.links {
	font-size: 12px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.links li {
	margin-right: 8px;
	display: inline-block;
}

.links a {
	color: #023369;
}

.copyright {
	color: #999;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.7px;
}

/* 아이디 중복 */
.id_T {
	color: green;
	display: none;
}

.id_F {
	color: red;
	display: none;
}