@charset "UTF-8";

.content {
	margin: 0;
	align-items: center;
	padding: 60px 20px 0;
	position: relative;
	background-color: #fafafa;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
}

.contentBox {
	max-width: 935px;
	height: 550px;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	margin: 60px auto 0;
	-webkit-box-orient: horizontal;
	overflow: hidden;
	-webkit-box-direction: normal;
}


.tabMenu {
	flex-basis: 236px;
	flex-grow: 0;
	border-right: 1px solid #dbdbdb;
	flex-shrink: 0;
}

.Menu, .eachMenu:active, .eachMenu:hover, .eachMenu:visited {
	color: #262626;
}

.eachMenu {
	font-size: 16px;
	border-left: 2px solid transparent;
	display: block;
	padding: 16px 16px 16px 30px;
	width: 100%;
	line-height: 20px;
}

.hoverMenu:hover {
	background-color: #fafafa;
	border-left: 2.5px solid  #dbdbdb;
}

.contentMain {
	flex: 1 1 400px;
	min-width: 50px;
}

.profile {
	margin: 80px 0 50px;
	display: flex;
	align-items: center;
}

.photo {
	overflow: hidden;
	margin: 2px 32px 0 124px;
	background-color: #fafafa;
	box-sizing: border-box;
	border-radius: 50%;
	position: relative;
	height: 38px;
	width: 38px;
}

.photoImg {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.name {
	-webkit-box-flex: 0;
	margin-right: 20px;
	flex: 0 1 auto;
	overflow-x: hidden;
}

.userName {
	margin-bottom: 2px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 22px;
	font-weight: 400;
	text-overflow: ellipsis;
}

.pwInputForm {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	align-items: stretch;
}

.pwArea {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
	justify-content: flex-start;
}

.text {
	padding: 9px 32px;
	box-sizing: border-box;
	line-height: 18px;
	flex: 0 0 194px;
	padding-right: 32px;
	text-align: right;
	font-size: 16px;
	font-weight: 600;
	color: #262626;
	-webkit-box-flex: 0;
}

.pwInput {
	-webkit-box-pack: start;
	justify-content: flex-start;
	display: flex;
	flex-basis: 355px;
	flex-direction: row;
	padding-right: 60px;
	-webkit-box-orient: horizontal;
	color: #262626;
	-webkit-box-flex: 1;
	flex-grow: 1;
	font-size: 16px;
	-webkit-box-direction: normal;
}

.pw {
	background: #fafafa;
	height: 38px;
	padding: 1px 15px;
	border: 1px solid #dbdbdb;
	color: #262626;
	width: 90%;
	border-radius: 3px;
	font-size: 14px;
	padding: 1px 15px;
}
